html{filter:expression(document.execCommand("BackgroundImageCache", false, true))}

.tabContainerDiv {
	font:normal 12px "宋体";
	background:url(../images/tabButtonBg_default.gif) 0px -50px repeat-x;
	height:25px;
  cursor:default;
}
.tabContainerDiv * {
    margin:0px;
    padding:0px;
    border:0px;
    text-align:left;
    font:normal 12px Arial,宋体;
    position:static;
    overflow:auto;
}
/* TAB标签样式 */
.scrollTabCon {
  overflow:hidden ;
  height:25px;
}
.scrollTabCon .bodyTr td {
	padding:0px 2px 0px 2px;
	height:25px !important;
  width:auto;
}
.scrollTabCon .bodyTr div {
	padding:0px 0px 0px 10px;
	height:25px !important;
}
.scrollTabCon .bodyTr div div {
	padding:5px 10px 5px 0px;
	height:25px !important;
}
.scrollTabCon .tabOutDiv_Checked {
	height:25px;
	width:auto;
	cursor:default;
	background:url(../images/tabButtonBg_default.gif) 0px 0px;
  overflow:hidden;
}
.scrollTabCon .tabOutDiv_Checked .tabMainDiv {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:keep-all;
	
	height:25px;
	font:normal 10px Arial !important;
	background:#FFF url(../images/tabButtonBg_default.gif) right top no-repeat;
	color:#9E4B0B;
	padding:5px 10px 5px 0px;
}

.scrollTabCon .tabOutDiv {
	height:25px;
	width:auto;
	cursor:default;
	background:url(../images/tabButtonBg_default.gif) 0px -25px;
  overflow:hidden;
}
.scrollTabCon .tabOutDiv .tabMainDiv {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:keep-all;
	
	height:25px;
	font:normal 10px Arial !important;
	background:#FFF url(../images/tabButtonBg_default.gif) right -25px no-repeat;
	color:#666666;
	padding:5px 10px 5px 0px;
}

.scrollTabCon .tabOutDiv_Over {
	height:25px;
	width:auto;
	cursor:default;
	background:url(../images/tabButtonBg_default.gif) 0px -75px;
  overflow:hidden;
}
.scrollTabCon .tabOutDiv_Over .tabMainDiv {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:keep-all;
	
	height:25px;
	font:normal 10px Arial !important;
	background:#FFF url(../images/tabButtonBg_default.gif) right -75px no-repeat;
	color:#000;
	padding:5px 10px 5px 0px;
}
.scrollTabCon .intext{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:keep-all;
	text-align:center;

	font:normal 12px Verdana,宋体;
	height:18px !important;
  cursor:default;
  line-height:12px;
  padding:4px 0px 0px 0px !important;
  text-indent:0px;
}

/* 东亚风格的滚动样式 2008-12-11 */
.scrollTabCon .rollTabTD{
	width:14px;	
	padding:5px 0px 2px 3px;
}
.scrollTabCon .tabRoll_dy_left {
	background: url(../images/tabRoll_default.gif) no-repeat 0px -16px;
	font-size:12px;
	width:10px;
	height:16px;
	cursor:default;
}
.scrollTabCon .tabRoll_dy_left_canUse{
	background: url(../images/tabRoll_default.gif) no-repeat 0px 0px;
	font-size:12px;
	width:10px;
	height:16px;
	cursor:default;
}
.scrollTabCon .tabRoll_dy_right {
	background: url(../images/tabRoll_default.gif) no-repeat -10px -16px;
	font-size:12px;
	width:10px;
	height:16px;
	cursor:default;
}
.scrollTabCon .tabRoll_dy_right_canUse{
	background: url(../images/tabRoll_default.gif) no-repeat -10px 0px;
	font-size:12px;
	width:10px;
	height:16px;
	cursor:default;
}